body {
  display: flex;
  justify-content: center;
  background-image: url("https://www.securedgenetworks.com/hubfs/should-you-pay-for-a-wireless-network-design-and-how-much-should-you-spend.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* #container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
